* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #e3f2fd;
}

h1 {
  background: #5372f0;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}

h6 {
  color: #fff;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.title_container {
  padding-left: 150px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 400px;
}

.select-city {
  margin: 0px 20px 0px 10px;
}

.current-weather {
  background: #5372f0;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 7px #5372f0;
  padding: 5px;
}

.container-forecast {
  display: flex;
  justify-content: end;
  padding: 5px;
  flex-wrap: wrap;
}

.card-forecast {
  background: #6c757d;
  margin: 10px;
  height: 100px;
  width: 100px;
  box-shadow: 2px 2px 7px #6c757d;
  border-radius: 10px;
}
